@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-gray-200;
  }
  h1 {
    position: relative;
    display: inline-block;
    margin: 1rem 0 1rem -10px;
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 0 100vh 100vh 0;
    background: #0075a9;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }

  h1:before {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    border-top: 10px solid #005276;
    border-left: 10px solid transparent;
  }
  h3 {
    position: relative;
    padding: 1.5rem 2rem;
    color: #fff;
    border-radius: 10px;
    background: #5cd6b4;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h3:after {
    position: absolute;
    bottom: -9px;
    left: 1em;
    width: 0;
    height: 0;
    content: "";
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5cd6b4 transparent transparent transparent;
  }
}

@layer utilities {
  .border-spacing-0 {
    border-spacing: 0;
  }
}
